.reason-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.reason-left {
  align-self: center;
}
.reason-title {
  font-size: 24px !important;
  position: relative;
}

.reason-title::after {
  content: '';
  position: absolute;
  right: 2px;
  bottom: -10px;
  width: 93%;
  height: 2px;
  background-color: #a57d24;
}
.reason-item {
  display: flex;
  padding-top: 24px;
}

.dot {
  height: 4px;
  width: 4px;
  background-color: rgb(165, 125, 36);
  border-radius: 50%;
  margin: 14px 4px 0px;
}
.line {
  border-bottom: 1px solid rgb(165, 125, 36);
  margin: 0px 8px 22px;
  width: 60px;
}

.item {
  background: #f8f9fa;
  border-radius: 0px 30px 0px 0px;
  position: relative;
  margin: 1rem 0.5rem;
}

.img-cover {
  padding: 10px;
  height: 240px;
}
img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.discription {
  bottom: 0;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  text-align: center;
  /* padding: 25% 15%; */
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-image: linear-gradient(to top, #24441e, transparent);
  border-radius: 3px 3px 30px 3px;
}
.discription p {
  position: absolute;
  top: 50%;
}
.item:hover .discription {
  display: block;
}

@media screen and (max-width: 996px) {
  .reason-wrapper {
    flex-direction: column;
    align-items: start;
  }
}
