footer {
  width: 100%;
  height: 70vh;
  /* height: auto; */
  background-color: #000000cc;
  margin-top: 3rem;
  padding-top: 3rem;
  /* display: flex; */
}
.footer-title {
  font-size: 16px;
  color: #fff !important;
  font-weight: bold;
  letter-spacing: 0.32px;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 18px;
  text-align: right;
}
.footer-title::after {
  content: '';
  position: absolute;
  width: 5%;
  height: 2px;
  background: #a57d24;
  right: 0;
  bottom: 2px;
}
.wrapper-footer {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
}
.footer-right {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.footer-item a {
  text-decoration: none;
  font-size: 14px;
  color: #fff;
  font-weight: 500 !important;
  transition: all 0.3s ease;
}
.footer-item a:hover {
  color: #a57d24;
  transition: all 0.3s ease;
}
.bank {
  color: blue;
  width: 50px !important;
  max-height: 184px;
}
.bank-image {
  width: 150px;
  height: auto;
  border-radius: 4px 24px;
  margin-top: 11%;
}
.footer-logo {
  max-height: 184px;
  opacity: 0.2;
}
.footer-logo {
  width: 150px;
  height: auto;
  border-radius: 4px 24px;
  margin-top: 11%;
}
.footer-bottom {
  text-align: center;
}
.footer-bottom a {
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
}
.footer-bottom p {
  color: #6c757d;
}
.icons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icons a {
  font-size: 30px;
  color: #fff;
  border: 1px dashed #fff;
  padding: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0.3rem;
  transition: all 0.3s ease;
}
.icons a:hover {
  color: #a57d24;
  transition: all 0.3s ease;
}

@media screen and (max-width: 996px) {
  footer {
    height: 85vh !important;
  }
}
